@import '../../../styles.scss';

.landing-page-wrapper {
  margin-top: 2em;
}

.landing-page-container {
  display: flex;
  margin: 0 2em;
  flex-direction: column;
  align-items: center;
}

.section-hero {
  display: flex;
  justify-content: center;

  img {
    width: 265px;
    height: 90px;
  }
}

.slogan {
  align-self: flex-start;
  font-size: 32px;
  font-weight: bold;
  color: $dark-blue;
  margin-top: 1em;
}

