@import "../../../styles.scss";

.landing-page-wrapper {
  background-image: url("../../../assets/images/background-img-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-container {
  display: flex;
  margin: 0 2em;
  flex-direction: column;
  align-items: center;
}

.section-hero {
  margin-top: 2em;
  display: flex;
  justify-content: center;

  img {
    width: 265px;
    height: 90px;
  }
}

.slogan {
  align-self: flex-start;
  font-size: 32px;
  font-weight: bold;
  color: $dark-blue;
  margin-top: 1em;
}

.section-intro {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  width: 100%;
  p {
    width: 16em;
    font-size: 12px;
  }
}

.section-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 1em;
}

.table-data {
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
}

.td-one {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 2px solid $greyscale100;
  border-bottom: 2px solid $greyscale100;
}
.td-two {
  grid-area: 1 / 2 / 2 / 3;
  border-bottom: 2px solid $greyscale100;
}
.td-three {
  grid-area: 2 / 1 / 3 / 2;
  border-right: 2px solid $greyscale100;
}
.td-four {
  grid-area: 2 / 2 / 3 / 3;
}

.log-in-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;

  a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.log-in-btn {
  background-color: $light-blue-transparent;
  color: $dark-blue;
  border: 2px solid $dark-blue;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1em;
}
